* {
    font-family: "Poppins";
    margin: 0;
    padding-bottom: 0;
  }
  .row1,
  .row2,
  .bph-row {
    display: flex;
    padding: 20px 220px;
  }
  .kabinet {
    padding-top: 2rem;
    text-align: center;
    color: white;
    background-color: #004189;
  }
  .judul-kabinet {
    border-bottom: 2px solid #f87f2c;
    display: inline;
    font-size: 32px;
    font-weight: 1000;
  }
  .ketua {
    padding-right: 60px;
  }
  .wakil {
    padding-left: 60px;
  }
  .bph {
    padding-right: 60px;
  }
  .judul-visi,
  .judul-misi {
    color: #f87f2c;
    margin-bottom: 10px;
  }
  .visi,
  .misi {
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .visi p,
  .misi p,
  .bph-row p {
    text-align: justify;
  }
  .bph-row p {
    margin-top: auto;
    margin-bottom: auto;
  }
  svg {
    position: relative;
    bottom: -10px;
  }
  .internal,
  .eksternal {
    text-align: center;
    padding: 20px 220px;
    color: #004189;
  }
  .internal h1,
  .eksternal h1 {
    border-bottom: 2px solid #f87f2c;
    display: inline;
  }
  .anggota-internal {
    padding-left: 20px;
  }
  .anggota-eksternal {
    padding-right: 40px;
  }
  .anggota-internal h4,
  .anggota-eksternal h4 {
    color: #f87f2c;
  }
  .internal .container,
  .eksternal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .internal .container .kadept-internal {
    padding-right: 40px;
  }
  .eksternal .container .kadept-eksternal {
    padding-left: 20px;
  }
  .internal .container .desc,
  .eksternal .container .desc {
    text-align: justify;
  }
  