/* belum di set */
.judul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 30px 0 30px 0;
    flex-direction: column;
}
.judulproker{
}
.option{
    margin: 30px 0 30px 30px;
}
.penjelasan{
    margin: 30px 0 30px 30px;
}
.dokumentasi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}